@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('http://fonts.cdnfonts.com/css/lemonmilk');
/* @import url('http://fonts.cdnfonts.com/css/umbro'); */

@font-face {
  /* font-family: lemonMilk; */
  font-family: lemonMilk;
  src: url(fonts/LemonMilk.ttf);

  font-family: cinzel;
  src: url(fonts/Cinzel-VariableFont_wght.ttf);

  font-family: umbro;
  src: url(fonts/Umbro1.ttf);
}


:root{
  --yellow : #CE9707;
  --cordially: #7a7a7a;
  --department: #8a8a8a;
}

body{
  background-color: #0B1628;
  padding: 1em;
  height: 100%;
}

p{
  font-size: 1.1em;
}
.container{
  width: 700px;
  /* height: 1000px; */
  margin: 1em auto;
  padding: 10px;
}

.invitation{
  background-image: url('Img/backgrond.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  /* box-shadow:5px 5px 10px rgb(64, 64, 64); */
  box-shadow: 0 0 10px 1px var(--yellow);
  padding: 1em;
  border-radius: 10px;
}

.content{
  border: 1px solid var(--yellow);
  border-radius: 10px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: lemonMilk;
}
.main{
  margin: 4em auto;
}
.main h1{
  font-family: cinzel;
  color: var(--yellow);
  letter-spacing: 10px;
  margin-top: 1em;
}

#cordially{
  color: var(--cordially);
  font-weight: 800;
  font-size: 25px;
}

#name{
  color: var(--yellow);
  margin: 2em auto;
  font-size: 2rem;
}

#department{
  color: var(--department);
}

#shq{
  font-family: umbro;
  font-size: 5em;
  color: var(--yellow);
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
}


.date{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  margin: 1em auto;
  width: 50%;
  align-items: center;

  font-family: cinzel;
}
.date h2{
  vertical-align: middle;
  color: var(--yellow);
}
#middle{
  /* border: 1px solid var(--yellow);
  border-top: none;
  border-bottom: none; */
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      var(--yellow), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
#venue{
  color: var(--yellow);
}

.organized{
  color: #fff;
  font-family: cinzel;
  margin-top: 2em;
  line-height: 80%;
}
.low{
  font-size: small;
}
.high{
  line-height: normal;
}


@media screen and (max-width: 500px) {
  body{
    /* width: 100%; */
    /* height: 100%; */
    font-size: 60%;
    padding: 0;
  }
  .container{
    width: fit-content;
    margin: 0 auto;
    padding: 0px;
  }
  .invitation{
    width: 90%;
    margin: 0 auto;
  }
  .main{
    margin: 2em auto;
  }
  .main h1{
    letter-spacing: 5px;
    margin-top: 0em;
    font-size: 1.2rem;
  }
  #name{
    font-size: 1.2rem;
  }
  #cordially{
    font-size: 1rem;
  }
  .low, .high{
    font-size: 80%;
  }
}