@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('http://fonts.cdnfonts.com/css/lemonmilk');
@import url('http://fonts.cdnfonts.com/css/umbro');


body{
  background-color: #0B1628;
  padding: 1em;
  height: 100%;
}

p{
  font-size: 1.1em;
}
.container{
  width: 600px;
  height: 1000px;
  /* background: #fff; */
  margin: 0 auto;
  padding: 10px;
}

.invitation{
  background-image: url('Img/backgrond.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  box-shadow:5px 5px 10px #fff;
  padding: 1em;
}

.content{
  border: 1px solid #CE9707;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lemon/Milk light', sans-serif;
}
.main{
  margin: 4em auto;
}
.main h1{
  font-family: 'Cinzel', serif;
  color: #CE9707;
  letter-spacing: 10px;
  margin-top: 1em;
}

#cordially{
  color: #354155;
  font-weight: 800;
}

#name{
  color: #CE9707;
  margin: 2em auto;
}

#department{
  color: #6B6F78;
}

#shq{
  font-family: 'Umbro Outline', sans-serif;
  font-size: 5em;
  color: #CE9707;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  /* animation: glow 1s ease-in-out infinite alternate; */
}

/* @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #efc048, 0 0 40px #efc048, 0 0 50px #efc048, 0 0 60px #efc048, 0 0 70px #efc048;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #CE9707, 0 0 40px #CE9707, 0 0 50px #CE9707, 0 0 60px #CE9707, 0 0 70px #CE9707, 0 0 80px #CE9707;
  }
} */

.date{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  margin: 2em auto;
  width: 50%;

  font-family: 'Cinzel', serif;
}
.date h2{
  vertical-align: middle;
  color: #CE9707;
}
#middle{
  border: 1px solid #CE9707;
  border-top: none;
  border-bottom: none;
}
#venue{
  color: #CE9707;
}

.organized{
  color: #fff;
  font-family: 'Cinzel', serif;
  margin-top: 5em;
  line-height: 80%;
}
.low{
  font-size: small;
}